.ui-helper-hidden-accessible {
	display: none;
}

.ui-autocomplete{
	list-style-type: none;
}

button#addSemes{
	float: right;
}

@media screen and (max-width:480px){
	button#addSemes{
		float: left;
		margin-bottom: 15px;
	}
}
