/**
	@author Jhoynerk Caraballo
*/
/*body {
    padding-bottom: 0px!important;
}*/

/*body.breadcrumbs-fixed {
	padding-top: 0px;
}*/

.navbar .nav-logo{
	padding-top: 4px;
	padding-bottom: 3px;
}

.navbar .navbar-color{
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(left,  #000000 4%, #000000 18%, #000000 33%, #45484d 76%, #45484d 77%, #45484d 77%, #45484d 79%, #45484d 79%, #45484d 84%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(4%,#000000), color-stop(18%,#000000), color-stop(33%,#000000), color-stop(76%,#45484d), color-stop(77%,#45484d), color-stop(77%,#45484d), color-stop(79%,#45484d), color-stop(79%,#45484d), color-stop(84%,#45484d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #000000 4%,#000000 18%,#000000 33%,#45484d 76%,#45484d 77%,#45484d 77%,#45484d 79%,#45484d 79%,#45484d 84%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #000000 4%,#000000 18%,#000000 33%,#45484d 76%,#45484d 77%,#45484d 77%,#45484d 79%,#45484d 79%,#45484d 84%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #000000 4%,#000000 18%,#000000 33%,#45484d 76%,#45484d 77%,#45484d 77%,#45484d 79%,#45484d 79%,#45484d 84%); /* IE10+ */
	background: linear-gradient(to right,  #000000 4%,#000000 18%,#000000 33%,#45484d 76%,#45484d 77%,#45484d 77%,#45484d 79%,#45484d 79%,#45484d 84%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45484d',GradientType=1 ); /* IE6-9 */

	border-bottom: 3px solid #333;
}

.ace-nav>li {
	line-height: 49px;
	max-height: 49px;
}

.ace-nav>li.black {
	background: #333;
}

.badge .label-green, .badge-green {
	background-color: #97ca3d!important;
	background-color: #68AF27!important;
	background-color: rgba(151,202,61,0.8)!important;
}

.badge .label-red, .badge-red {
	background-color: #C22439!important;
}

.badge .label-blue, .badge-blue {
	background-color: #009AD7!important;
}

.tags > .tag{
	width: 70%!important;
}

.alertar {
	-moz-animation: vertical 1.5s infinite ease 1.5s;
	-webkit-animation: vertical 1.5s infinite ease 1.5s;
	-o-animation: vertical 1.5s infinite ease 1.5s;
	-ms-animation: vertical 1.5s infinite ease 1.5s;
	animation: vertical 1.5s infinite ease 1.5s;
}