/*template*/

.title {
	text-align: center;
}

.title .titleh3{
	text-align: center;
	font-size: 20px;
	width: 100%;
}

.title .titleh4{
	text-align: center;
	margin: 0;
}

.logo{
	height: 60px;
	float: left;
}

.content{
	margin: 10px;
	padding-top: 70px;
	clear: fixed;
}

table{
	border-collapse: collapse;
	border: 1px solid #000;
	font-size: 12px;
	width: 100%;

}
table td{
	border: 1px solid #000;
	border-collapse: collapse;
}

/*template*/
/*--------------------------------------HORARIO--------------------------------------------------*/
#format td {
    height: 50px;
    text-align:center;
}
.day-hour{
    background-color:#8b9aa3!important;
    border-style:dashed;
    color:white;
    width:170px;
    height: 50px;
    text-align: center!important;
    vertical-align: inherit!important;
}
#format .horas {
    text-align:center;
    width:170px;
    background-color:#8b9aa3!important;
    border-style:dashed;
    color:white;
    font-weight:bold;
    vertical-align: inherit!important;
}
#format td {
    border-style:dashed;
    height: 60px;
}
span.combo {
    margin-top:20px;
}
#modal {
    font-size:12px;
}
#table-modal td {
    padding:5px;
    width: 515px;
}
#table-modal thead {
    background-color:#26ADE4;
    color:white;
    text-align: center;
}
#table-modal td {
    border-style:outset;
}
.data_h {
    font-size: 11px;
    padding: 0px;
}
#format .ui-selecting {
    background: #FECA40;
}
#format .ui-selected {
    background: #F39814;
    color: white;
}
#occupied{

    height: 170px;
    overflow-y:scroll; 
}
#format .ui-selected {
    background: #C7B2FF;
    color: white;
}
#format .ui-selecting{
    background: #C7B2FF;
    color: white;
}